In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.abspath('../input/featured-2008-2017.csv'))

In [3]:
df.head()

,p_fs,p_w1sp,p_w2sp,p_wrp,p_tpw,p_tmw,p_aces_per_game,p_df_per_game,p_bp_won,p_wsp,...,o_serve_adv,direct,o_number_of_matches_used,player_id,opponent_id,tournament_name,date,player_elo_rating,opponent_elo_rating,p_matches
0,0.591613,0.779391,0.526186,0.675453,0.675630,0.479452,0.998942,0.165079,0.652812,0.675985,...,-0.030271,NaN,21,3344,4326,Rome Masters,05/05/2008,2017,1868,0
1,0.630058,0.688413,0.515046,0.685150,0.664963,0.525424,0.244813,0.147994,0.627497,0.624277,...,-0.043802,NaN,78,2703,4214,Rome Masters,05/05/2008,1938,1986,0
2,0.605263,0.633270,0.533333,0.688475,0.655906,0.416667,0.356589,0.155039,0.592357,0.593822,...,-0.060017,NaN,81,4654,4337,Rome Masters,05/05/2008,1791,2008,0
3,0.626886,0.723634,0.523398,0.686482,0.674041,0.535211,0.484425,0.204082,0.589633,0.648924,...,-0.045870,0.0,56,3602,4385,Rome Masters,05/05/2008,2079,1946,1
4,0.583093,0.698630,0.480043,0.682102,0.656523,0.500000,0.394469,0.292576,0.587179,0.607499,...,-0.015678,NaN,57,5088,4416,Rome Masters,05/05/2008,1863,2072,1

In [4]:
df.isnull().sum()

p_fs                          402
p_w1sp                        402
p_w2sp                        402
p_wrp                         402
p_tpw                         402
p_tmw                         402
p_aces_per_game               402
p_df_per_game                 402
p_bp_won                      402
p_wsp                         402
p_completeness                402
p_serve_adv                   734
p_number_of_matches_used        0
o_fs                          366
o_w1sp                        366
o_w2sp                        366
o_wrp                         366
o_tpw                         366
o_tmw                         366
o_aces_per_game               366
o_df_per_game                 366
o_bp_won                      366
o_wsp                         366
o_completeness                366
o_serve_adv                   734
direct                      13808
o_number_of_matches_used        0
player_id                       0
opponent_id                     0
tournament_name                 0
date                            0
player_elo_rating               0
opponent_elo_rating             0
p_matches                       0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26835 entries, 0 to 26834
Data columns (total 34 columns):
p_fs                        26433 non-null float64
p_w1sp                      26433 non-null float64
p_w2sp                      26433 non-null float64
p_wrp                       26433 non-null float64
p_tpw                       26433 non-null float64
p_tmw                       26433 non-null float64
p_aces_per_game             26433 non-null float64
p_df_per_game               26433 non-null float64
p_bp_won                    26433 non-null float64
p_wsp                       26433 non-null float64
p_completeness              26433 non-null float64
p_serve_adv                 26101 non-null float64
p_number_of_matches_used    26835 non-null int64
o_fs                        26469 non-null float64
o_w1sp                      26469 non-null float64
o_w2sp                      26469 non-null float64
o_wrp                       26469 non-null float64
o_tpw                       26469 non-null float64
o_tmw                       26469 non-null float64
o_aces_per_game             26469 non-null float64
o_df_per_game               26469 non-null float64
o_bp_won                    26469 non-null float64
o_wsp                       26469 non-null float64
o_completeness              26469 non-null float64
o_serve_adv                 26101 non-null float64
direct                      13027 non-null float64
o_number_of_matches_used    26835 non-null int64
player_id                   26835 non-null int64
opponent_id                 26835 non-null int64
tournament_name             26835 non-null object
date                        26835 non-null object
player_elo_rating           26835 non-null int64
opponent_elo_rating         26835 non-null int64
p_matches                   26835 non-null int64
dtypes: float64(25), int64(7), object(2)
memory usage: 7.0+ MB

In [6]:
df = df.dropna(subset=['p_fs', 'p_serve_adv'])

In [7]:
df.isnull().sum()

p_fs                            0
p_w1sp                          0
p_w2sp                          0
p_wrp                           0
p_tpw                           0
p_tmw                           0
p_aces_per_game                 0
p_df_per_game                   0
p_bp_won                        0
p_wsp                           0
p_completeness                  0
p_serve_adv                     0
p_number_of_matches_used        0
o_fs                            0
o_w1sp                          0
o_w2sp                          0
o_wrp                           0
o_tpw                           0
o_tmw                           0
o_aces_per_game                 0
o_df_per_game                   0
o_bp_won                        0
o_wsp                           0
o_completeness                  0
o_serve_adv                     0
direct                      13074
o_number_of_matches_used        0
player_id                       0
opponent_id                     0
tournament_name                 0
date                            0
player_elo_rating               0
opponent_elo_rating             0
p_matches                       0
dtype: int64

In [9]:
df['direct'].fillna(value=0, inplace=True)

In [10]:
df.isnull().sum()

p_fs                        0
p_w1sp                      0
p_w2sp                      0
p_wrp                       0
p_tpw                       0
p_tmw                       0
p_aces_per_game             0
p_df_per_game               0
p_bp_won                    0
p_wsp                       0
p_completeness              0
p_serve_adv                 0
p_number_of_matches_used    0
o_fs                        0
o_w1sp                      0
o_w2sp                      0
o_wrp                       0
o_tpw                       0
o_tmw                       0
o_aces_per_game             0
o_df_per_game               0
o_bp_won                    0
o_wsp                       0
o_completeness              0
o_serve_adv                 0
direct                      0
o_number_of_matches_used    0
player_id                   0
opponent_id                 0
tournament_name             0
date                        0
player_elo_rating           0
opponent_elo_rating         0
p_matches                   0
dtype: int64

In [11]:
df.to_csv(os.path.abspath('../input/cleaned-featured-2008-2017.csv'), index=False)