In [6]:
import pandas as pd

In [8]:
df = pd.read_csv('input/2014-2017.csv', delimiter=';')

In [9]:
df.head()

,match_id,date,winner_id,loser_id,winner_rank,loser_rank,winner_rank_points,loser_rank_points,winner_elo_rating,loser_elo_rating
0,155602,21/04/2014,4894,4022,50.0,15.0,947.0,2065.0,1867.0,2036.0
1,155603,21/04/2014,5763,4659,16.0,92.0,2040.0,605.0,2112.0,1861.0
2,155604,21/04/2014,4789,3908,24.0,102.0,1580.0,569.0,2085.0,1871.0
3,155605,21/04/2014,4585,4467,43.0,28.0,1016.0,1315.0,1902.0,1979.0
4,155202,06/03/2014,5231,4742,31.0,1.0,1205.0,14085.0,1992.0,2510.0