In [4]:
import pandas as pd
import os

In [12]:
train_df = pd.read_csv(os.path.abspath('../input/2007-2017.csv'), delimiter=';')

In [15]:
train_df.head()

,match_id,tournament_name,season,tournament_id,date,level,surface,round,best_of,player_id,...,o_ace,p_df,o_df,p_bp_sv,o_bp_sv,p_bp_fc,o_bp_fc,p_matches,o_matches,p_sv_gms
0,137522.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,3344.0,...,6.0,4.0,1.0,9.0,6.0,11.0,7.0,0.0,1.0,12.0
1,137523.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,2703.0,...,7.0,2.0,1.0,2.0,5.0,5.0,6.0,0.0,1.0,11.0
2,137524.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4654.0,...,1.0,3.0,0.0,6.0,2.0,11.0,3.0,0.0,1.0,8.0
3,137525.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4385.0,...,7.0,4.0,4.0,4.0,4.0,7.0,9.0,0.0,1.0,16.0
4,137526.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4416.0,...,8.0,5.0,4.0,5.0,7.0,7.0,9.0,0.0,1.0,13.0

In [28]:
print(train_df.columns.values)

['match_id' 'tournament_name' 'season' 'tournament_id' 'date' 'level'
 'surface' 'round' 'best_of' 'player_id' 'player_rank' 'player_elo_rating'
 'opponent_id' 'opponent_rank' 'opponent_elo_rating' 'outcome' 'minutes'
 'p_1st_in' 'o_1st_in' 'p_sv_pt' 'o_sv_pt' 'p_1st_won' 'o_1st_won'
 'p_2nd_won' 'o_2nd_won' 'p_ace' 'o_ace' 'p_df' 'o_df' 'p_bp_sv' 'o_bp_sv'
 'p_bp_fc' 'o_bp_fc' 'p_matches' 'o_matches' 'p_sv_gms']

Categorical variables are :
- tournament_name
- season
- level
- surface
- round
- best_of
- outcome

Numerical variables are :
- tournament_id
- player_id, opponent_id
- player_rank, opponent_rank
- player_elo_rating, opponent_elo_rating
- minutes
- p_1st_in, o_1st_in
- p_sv_pt, o_sv_pt
- p_1st_won, o_1st_won
- p_2nd_won, o_2nd_won
- p_ace, o_ace
- p_df, o_df
- p_bp_sv, o_bp_sv
- p_bp_fc, o_bp_fc
- p_matches, o_matches
- p_sv_gms


Mixed types :
- date

We just need to remove an empty line :

In [36]:
train_df = train_df.dropna(subset=['match_id'])

Check null values :

In [37]:
train_df.isnull().sum()

match_id                   0
tournament_name            0
season                     0
tournament_id              0
date                       0
level                      0
surface                  390
round                      0
best_of                    0
player_id                  0
player_rank              636
player_elo_rating          0
opponent_id                0
opponent_rank            636
opponent_elo_rating        0
outcome                63420
minutes                 8414
p_1st_in                5794
o_1st_in                5794
p_sv_pt                 5794
o_sv_pt                 5794
p_1st_won               5794
o_1st_won               5794
p_2nd_won               5794
o_2nd_won               5794
p_ace                   5794
o_ace                   5794
p_df                    5794
o_df                    5794
p_bp_sv                 5794
o_bp_sv                 5794
p_bp_fc                 5794
o_bp_fc                 5794
p_matches                  0
o_matches                  0
p_sv_gms                5794
dtype: int64

In [30]:
validation_df = pd.read_csv(os.path.abspath('../input/2018.csv'), delimiter=';')

In [31]:
validation_df.isnull().sum()

match_id                  0
tournament_name           0
season                    0
tournament_id             0
date                      0
level                     0
surface                   0
round                     0
best_of                   0
player_id                 0
player_rank              28
player_elo_rating         0
opponent_id               0
opponent_rank            28
opponent_elo_rating       0
outcome                5744
minutes                  42
p_1st_in                 24
o_1st_in                 24
p_sv_pt                  24
o_sv_pt                  24
p_1st_won                24
o_1st_won                24
p_2nd_won                24
o_2nd_won                24
p_ace                    24
o_ace                    24
p_df                     24
o_df                     24
p_bp_sv                  24
o_bp_sv                  24
p_bp_fc                  24
o_bp_fc                  24
p_matches                 0
o_matches                 0
p_sv_gms                 24
dtype: int64

In [32]:
test_df = pd.read_csv(os.path.abspath('../input/2019.csv'), delimiter=';')

In [33]:
test_df.isnull().sum()

match_id                  0
tournament_name           0
season                    0
tournament_id             0
date                      0
level                     0
surface                   0
round                     0
best_of                   0
player_id                 0
player_rank              20
player_elo_rating         0
opponent_id               0
opponent_rank            20
opponent_elo_rating       0
outcome                5232
minutes                 170
p_1st_in                162
o_1st_in                162
p_sv_pt                 162
o_sv_pt                 162
p_1st_won               162
o_1st_won               162
p_2nd_won               162
o_2nd_won               162
p_ace                   162
o_ace                   162
p_df                    162
o_df                    162
p_bp_sv                 162
o_bp_sv                 162
p_bp_fc                 162
o_bp_fc                 162
p_matches                 0
o_matches                 0
p_sv_gms                162
dtype: int64

Features that may contain **null** values :
- **train** :
    - surface
    - player_rank, opponent_rank
    - outcome (a lot of null values but it's ok because we just want to see if a player quit)
    - minutes
    - p_1st_in, o_1st_in
    - p_sv_pt, o_sv_pt
    - p_1st_won, o_1st_won
    - p_2nd_won, o_2nd_won
    - p_ace, o_ace
    - p_df, o_df
    - p_bp_sv, o_bp_sv
    - p_bp_fc, o_bp_fc
    - p_sv_gms
- **validation** :
    - player_rank, opponent_rank
    - outcome (same explanation)
    - minutes
    - p_1st_in, o_1st_in
    - p_sv_pt, o_sv_pt
    - p_1st_won, o_1st_won
    - p_2nd_won, o_2nd_won
    - p_ace, o_ace
    - p_df, o_df
    - p_bp_sv, o_bp_sv
    - p_bp_fc, o_bp_fc
    - p_sv_gms
- **test** :
    - player_rank, opponent_rank
    - outcome (same explanation)
    - minutes
    - p_1st_in, o_1st_in
    - p_sv_pt, o_sv_pt
    - p_1st_won, o_1st_won
    - p_2nd_won, o_2nd_won
    - p_ace, o_ace
    - p_df, o_df
    - p_bp_sv, o_bp_sv
    - p_bp_fc, o_bp_fc
    - p_sv_gms