In [1]:
import pandas as pd
import os

In [2]:
train_df = pd.read_csv(os.path.abspath('../input/cleaned-2007-2017.csv'))

### Create historical features

In [3]:
train_df.columns.values

array(['match_id', 'tournament_name', 'season', 'tournament_id', 'date',
       'level', 'surface', 'round', 'best_of', 'player_id', 'player_rank',
       'player_elo_rating', 'opponent_id', 'opponent_rank',
       'opponent_elo_rating', 'outcome', 'p_1st_in', 'o_1st_in',
       'p_sv_pt', 'o_sv_pt', 'p_1st_won', 'o_1st_won', 'p_2nd_won',
       'o_2nd_won', 'p_ace', 'o_ace', 'p_df', 'o_df', 'p_bp_sv',
       'o_bp_sv', 'p_bp_fc', 'o_bp_fc', 'p_matches', 'o_matches',
       'p_sv_gms'], dtype=object)

In [4]:
train_df.head()

,match_id,tournament_name,season,tournament_id,date,level,surface,round,best_of,player_id,...,o_ace,p_df,o_df,p_bp_sv,o_bp_sv,p_bp_fc,o_bp_fc,p_matches,o_matches,p_sv_gms
0,137522.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,3344.0,...,6.0,4.0,1.0,9.0,6.0,11.0,7.0,0.0,1.0,12.0
1,137523.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,2703.0,...,7.0,2.0,1.0,2.0,5.0,5.0,6.0,0.0,1.0,11.0
2,137524.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4654.0,...,1.0,3.0,0.0,6.0,2.0,11.0,3.0,0.0,1.0,8.0
3,137525.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4385.0,...,7.0,4.0,4.0,4.0,4.0,7.0,9.0,0.0,1.0,16.0
4,137526.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4416.0,...,8.0,5.0,4.0,5.0,7.0,7.0,9.0,0.0,1.0,13.0

In [5]:
train_df.iterrows()

In [6]:
p_1st_in = train_df[
    (train_df['player_id'] == 3344)
]['p_1st_in'].sum()
p_1st_in

11692.0

In [7]:
p_sv_pt = train_df[
    (train_df['player_id'] == 3344)
]['p_sv_pt'].sum()
p_sv_pt

19846.0

In [8]:
p_1st_in / p_sv_pt

0.5891363498941852

In [9]:
train_df[train_df['date'] <= '2008-05-05']

,match_id,tournament_name,season,tournament_id,date,level,surface,round,best_of,player_id,...,o_ace,p_df,o_df,p_bp_sv,o_bp_sv,p_bp_fc,o_bp_fc,p_matches,o_matches,p_sv_gms
0,137522.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,3344.0,...,6.0,4.0,1.0,9.0,6.0,11.0,7.0,0.0,1.0,12.0
1,137523.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,2703.0,...,7.0,2.0,1.0,2.0,5.0,5.0,6.0,0.0,1.0,11.0
2,137524.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4654.0,...,1.0,3.0,0.0,6.0,2.0,11.0,3.0,0.0,1.0,8.0
3,137525.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4385.0,...,7.0,4.0,4.0,4.0,4.0,7.0,9.0,0.0,1.0,16.0
4,137526.0,Rome Masters,2008.0,11.0,05/05/2008,M,C,R64,3.0,4416.0,...,8.0,5.0,4.0,5.0,7.0,7.0,9.0,0.0,1.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59278,173763.0,Australian Open,2016.0,1.0,18/01/2016,G,H,R128,5.0,6107.0,...,28.0,1.0,4.0,5.0,10.0,8.0,11.0,0.0,1.0,27.0
59279,173764.0,Australian Open,2016.0,1.0,18/01/2016,G,H,R128,5.0,3794.0,...,5.0,6.0,1.0,4.0,4.0,12.0,8.0,0.0,1.0,16.0
59280,173765.0,Australian Open,2016.0,1.0,18/01/2016,G,H,R128,5.0,4592.0,...,8.0,3.0,2.0,3.0,4.0,8.0,5.0,0.0,1.0,16.0
59281,173766.0,Australian Open,2016.0,1.0,18/01/2016,G,H,R128,5.0,5140.0,...,14.0,3.0,7.0,3.0,12.0,10.0,15.0,0.0,1.0,19.0
59282,173767.0,Australian Open,2016.0,1.0,18/01/2016,G,H,R128,5.0,6061.0,...,4.0,5.0,1.0,4.0,2.0,8.0,4.0,0.0,1.0,17.0

In [10]:
from datetime import datetime

In [11]:
train_df['datetime'] = train_df['date'].apply(lambda x: datetime.strptime(x, '%d/%m/%Y'))

In [12]:
train_df[
    (train_df['datetime'] < train_df['date'][0]) 
    & (train_df['player_id'] == 3344)
    & (train_df['surface'] == 'C')
]

,match_id,tournament_name,season,tournament_id,date,level,surface,round,best_of,player_id,...,p_df,o_df,p_bp_sv,o_bp_sv,p_bp_fc,o_bp_fc,p_matches,o_matches,p_sv_gms,datetime
1209,135262.0,Umag,2007.0,301.0,23/07/2007,B,C,R32,3.0,3344.0,...,2.0,2.0,8.0,4.0,12.0,7.0,0.0,1.0,12.0,2007-07-23
1938,134477.0,Hamburg,2007.0,10.0,14/05/2007,M,C,R32,3.0,3344.0,...,1.0,1.0,11.0,8.0,13.0,13.0,1.0,0.0,13.0,2007-05-14
2048,134624.0,Roland Garros,2007.0,19.0,28/05/2007,G,C,R64,5.0,3344.0,...,0.0,1.0,3.0,7.0,4.0,11.0,1.0,0.0,21.0,2007-05-28
3151,134223.0,Monte Carlo Masters,2007.0,9.0,15/04/2007,M,C,R32,3.0,3344.0,...,1.0,3.0,8.0,11.0,8.0,11.0,1.0,0.0,12.0,2007-04-15
3474,134526.0,Poertschach,2007.0,277.0,20/05/2007,B,C,R32,3.0,3344.0,...,1.0,2.0,1.0,3.0,2.0,4.0,1.0,0.0,12.0,2007-05-20
3515,134568.0,Roland Garros,2007.0,19.0,28/05/2007,G,C,R128,5.0,3344.0,...,2.0,3.0,2.0,4.0,3.0,8.0,1.0,0.0,16.0,2007-05-28
5468,134235.0,Monte Carlo Masters,2007.0,9.0,15/04/2007,M,C,R16,3.0,3344.0,...,5.0,7.0,13.0,2.0,18.0,5.0,0.0,1.0,16.0,2007-04-15
5614,134422.0,Rome Masters,2007.0,11.0,07/05/2007,M,C,R32,3.0,3344.0,...,2.0,1.0,5.0,2.0,9.0,3.0,0.0,1.0,10.0,2007-05-07
5745,134491.0,Hamburg,2007.0,10.0,14/05/2007,M,C,R16,3.0,3344.0,...,1.0,0.0,3.0,3.0,7.0,4.0,0.0,1.0,9.0,2007-05-14
5793,134540.0,Poertschach,2007.0,277.0,20/05/2007,B,C,R16,3.0,3344.0,...,2.0,0.0,3.0,1.0,4.0,1.0,0.0,1.0,11.0,2007-05-20
6356,137381.0,Monte Carlo Masters,2008.0,9.0,20/04/2008,M,C,R64,3.0,3344.0,...,0.0,3.0,0.0,4.0,0.0,8.0,1.0,0.0,8.0,2008-04-20
10490,134652.0,Roland Garros,2007.0,19.0,28/05/2007,G,C,R32,5.0,3344.0,...,3.0,3.0,8.0,4.0,15.0,9.0,0.0,1.0,25.0,2007-05-28
34065,137403.0,Monte Carlo Masters,2008.0,9.0,20/04/2008,M,C,R32,3.0,3344.0,...,4.0,0.0,1.0,7.0,5.0,8.0,0.0,1.0,9.0,2008-04-20

We won't compute statistic for year 2007 because due to few matches statistics would not be representative of player levels

We create a dataset excluding 2007 :

In [13]:
train_df_gt_2008 = train_df[train_df['datetime'] > '2008-01-01']

In [14]:
import numpy as np

In [32]:
from tqdm.notebook import tqdm

fs_column = []
w1sp_column = []
w2sp_column = []

number_of_matches_computed = []

pbar = tqdm(total=1000)

for index, row in train_df_gt_2008.head(n=1000).iterrows():
    # filter dataset to keep only player matches prior to current match
    filtered_dataset = train_df[
        (train_df['datetime'] < datetime.strptime(row['date'], '%d/%m/%Y')) 
        & (train_df['player_id'] == row['player_id'])
    ]

    # initialize temp variables to calculate features
    p_1st_in = p_sv_pt = p_1st_won = p_2nd_won = o_sv_pt = o_1st_won = o_2nd_won = o_sv_pt = p_matches \
    = o_matches = p_ace = p_df = p_sv_gms = p_bp_sv = o_bp_sv = p_bp_fc = o_bp_fc= 0

    # initialize variable features
    fs = w1sp = w2sp = np.nan

    # calculate statistics averaging with time discounting and surface weighting
    if(filtered_dataset.shape[0] != 0):
        for f_index, f_row in filtered_dataset.iterrows():
            p_1st_in += f_row['p_1st_in']
            p_sv_pt += f_row['p_sv_pt']
            p_1st_won += f_row['p_1st_won']
            p_2nd_won += f_row['p_2nd_won']
            o_sv_pt += f_row['o_sv_pt']
            o_1st_won += f_row['o_1st_won']
            o_2nd_won += f_row['o_2nd_won']
            o_sv_pt += f_row['o_sv_pt']
            p_matches += f_row['p_matches']
            o_matches += f_row['o_matches']
            p_ace += f_row['p_ace']
            p_df += f_row['p_df']
            p_sv_gms += f_row['p_sv_gms']
            p_bp_sv += f_row['p_bp_sv']
            o_bp_sv += f_row['o_bp_sv']
            p_bp_fc += f_row['p_bp_fc']
            o_bp_fc += f_row['o_bp_fc']

        # Compute features 

        # first serve sucess percentage
        fs = p_1st_in / p_sv_pt

        # winning on first serve percentage
        w1sp = p_1st_won / p_1st_in

        # winning on second serve percentage
        w2sp = p_2nd_won / (p_sv_pt - p_1st_in)

    fs_column.append(fs)
    w1sp_column.append(w1sp)
    w2sp_column.append(w2sp)

    # number of matches computed to have stats
    number_of_matches_computed.append(filtered_dataset.shape[0])

    # progress
    pbar.update(1)
    

pbar.close()

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

In [18]:
np.isnan(fs_column).sum()

10